{% extends "store/base.html" %}

{% block style %}
    添加商品类型
{% endblock %}
{% block centent %}
    <button class="btn btn-warning" data-toggle="modal" data-target="#myModal">添加商品类型</button>
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">添加类型</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times</button>
            </div>
            <form class="form" method="post">
                <div class="modal-body">
                    {% csrf_token %}
                    <div class="form_group">
                        <input class="form-control form-control-user" placeholder="类型名称" type="text" name="name">
                    </div>
                    <div class="form_group">
                        <input class="form-control form-control-user" placeholder="类型描述" type="text" name="description">
                    </div>
                    <div class="form_group">
                         <input class="form-control form-control-user" placeholder="类型图片" type="file" name="picture">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">保存类型</button>
                </div>
            </form>
        </div>
    </div>
    </div>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>商品类型名称</th>
                <th>商品类型描述</th>
                 <th>操作</th>
            </tr>
        </thead>
        <thbody>
            {% for g in goods %}
                <tr>
                    <td>{{ g.goods_name}}</td>
                    <td>{{ g.goods_description }}</td>
                    <td>
                        <a href="/store/delete/?id={{ g.id }}" class="btn btn-primary " >删除</a>
                    </td>
                </tr>
            {% endfor %}
        </thbody>
    </table>
{% endblock %}

{% block script %}
{% endblock %}