{% extends "store/base.html" %}

{% block style %}
    <title>添加商品</title>
{% endblock %}


{% block centent %}
<form class="form" method="post" enctype="multipart/form-data">
    <div class="form-group">
        {% csrf_token %}
    </div>
    <div class="form-group">
        <input type="text" class="form-control-user form-control" placeholder="商品名称" name="goods_name">
    </div>
    <div class="form-group">
        <input type="text" class="form-control-user form-control" placeholder="商品价格" name="goods_price">
    </div>
    <div class="form-group">
        <input type="text" class="form-control-user form-control" placeholder="商品数量库存" name="goods_number">
    </div>
    <div class="form-group">
        <input type="text" class="form-control-user form-control" placeholder="商品描述" name="goods_description">
    </div>
    <div class="form-group">
        <input type="text" class="form-control-user form-control" placeholder="出厂日期" name="goods_date">
    </div>
    <div class="form-group">
        <input type="text" class="form-control-user form-control" placeholder="保质期(月）" name="goods_safeDate">
    </div>
     <div class="form-group">
        <input type="text" class="form-control-user form-control" placeholder="商品类型" name="goods_type">
    </div>
    <div class="form-group">
            <input class="form-control form-control-user" type="hidden" name="goods_store" value="{{ request.COOKIES.has_store }}">
        </div>
     <div class="form-group">
        <input type="file"  placeholder="商品图片" name="goods_image">
    </div>
      <div>
            <input class="btn btn-primary btn-block" type="submit" value="添加">
        </div>
</form>
{% endblock %}