{% extends "store/base.html" %}

{% block style %}
    <title>{{ goods_data.goods_name }}</title>
{% endblock %}

{% block centent %}
    <div>
        <table class="table">
            <tr>
               <td rowspan="3"> <img src="/static/{{ goods_data.goods_image }}" style="width: 200px;height: 200px"></td>
                <th >商品名称</th>
                <td colspan="3">{{ goods_data.goods_name }}</td>
            </tr>
             <tr>
                <th>商品价格</th>
                <td>{{ goods_data.goods_price }}</td>
                 <th>商品数量库存</th>
                 <td>{{ goods_data.goods_number }}</td>
            </tr>
            <tr>
                <th>出厂日期</th>
                <td>{{ goods_data.goods_date | date:"Y/m/d" }}</td>
                 <th>保质期</th>
                 <td>{{ goods_data.goods_safeDate }}</td>
            </tr>
             <tr>
                <th colspan="5" style="text-align: center">商品描述</th>
            </tr>
            <tr>
                <td colspan="5">{{ goods_data.goods_description |safe }}</td>
            </tr>
        </table>
        <a  class="btn btn-primary btn-block" href="/store/update_goods/{{ goods_id }}" >修改商品详情</a>
    </div>
{% endblock %}